{% extends 'PokeApp/base.html' %}

{% block content %}
    
{% load static %}

<link rel="stylesheet" href="{% static 'PokeSearch/pokesearch.css' %}">

<div class="form-control">
    <h2 class="center">Saved Pokémon</h1>
</div>
    <hr>
<table class="table table-hover center-table">
<thead>
    <th>Order</th>
    <th>Name</th>
    <th>HP</th>
    <th>Attack</th>
    <th>Sp.Attack</th>
    <th>Defense</th>
    <th>Sp.Defense</th>
    <th>Speed</th>
</thead>
{%for key,values in Pokemons.items%}
<tbody>
    <td>
    {{values.Order}}
    </td>
    <td>
    {{values.Name}}
    </td>
    <td>
    {{values.HP}}    
    </td>
    <td>
    {{values.Attack}}
    </td>
    <td>
    {{values.SpAttack}}
    </td>
    <td>
    {{values.Defense}}
    </td>
    <td>
    {{values.SpDefense}}
    </td>
    <td>
    {{values.Speed}}
    </td>
</tbody>
{%endfor%}
</table>



{% endblock %}