.container {
  width: 100%;             /* stretches to full screen */
  max-width: 600px;        /* optional: limit max size */
  padding: 1rem;
}

.form-control {
  width: 100%;             /* important: allows input to stretch */
}

.full-width-input {
  width: 100%;
  box-sizing: border-box;
}

.button-center{
  text-align: center;
}

.container-table {
  margin: 0 auto;
  width: 100%;             /* stretches to full screen */
  max-width: 600px;        /* optional: limit max size */
  padding: 1rem;
  border: 5px;
  align-items: center;
}


.center-table{
  margin: 0 auto;
  text-align: center;
  width: auto;
  color: yellow;
  border: yellowgreen solid;
}